* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 8vh;
  border: 1px solid black;
}

header .header_container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

header .header_container #logo {
  width: 150px;
  height: 100%;
  border: 1px solid black;
  background-image: url("../img/logo.png");
  background-size: 100% 100%;
  cursor: pointer;
}
.logo_link {
  display: block;
  width: 100%;
  height: 100%;
}
header .header_container #search {
  width: 400px;
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header_container #search input {
  width: 300px;
  height: 40px;
}

header .header_container #search button {
  width: 50px;
  height: 40px;
}

header .header_container .menu {
  width: 400px;
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#logout {
  cursor: pointer;
}
#main {
  width: 100%;
  height: 87vh;
  top: 8vh;
}

#main_container {
  width: 1200px;
  height: 87vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  list-style: none;
}

.menu a {
  color: black;
  text-decoration: none;
}

#main_container .menu {
  width: 200px;
  height: 100%;
  border: 1px solid black;
}
#info{
  border:1px solid black;
  width: 90%;
  height:30%;
  margin:0 auto;
  display:flex;
  justify-content:space-around;
  align-items:center;
}
.main_manage{
  border:1px solid black;
  width:100%;
  height:48%;
  text-align:left;
}
.main_manage h3{
  margin:15px;
}
.main_manage .notice, .qna{
  margin-left:15px;
  margin-bottom:8px;
  padding-left:5px;
  font-size:1.2rem;
  border:1px solid black;
  width:90%;
}
#content_container {
  width: 1000px;
  height: 100%;
  padding: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content:space-between
}

#event_banner{
  width:60%;
  height:100%;
  border:1px solid black;
}

.upper_container{
  width:100%;
  height:66%;
  border:1px solid black;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

#product_container{
  width:100%;
  height:33%;
  border:1px solid black;
  display:flex;
  justify-content:space-between;
}

.upper_right_container{
  width:37%;
  height:100%;
  border:1px solid black;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.dummy_product{
  width:32%;
  height:98%;
  border:1px solid black;
}
#my_profile {
  margin: 0 auto;
  width: 40%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.profile_label {
  text-align: right;
  padding-right: 3pt;
}

#my_profile input:is([type="text"]):is([type="password"]) {
  width: 150px;
  height: 18pt;
}

.profile_button {
  margin: 0 0 0 auto;
}

#tracking_box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.tracking_line {
  height: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.tracking_no {
  width: 15%;
  text-align: center;
}

.tracking_name {
  width: 60%;
  text-align: center;
}

.tracking_count {
  width: 5%;
  text-align: center;
}

.tracking_price {
  width: 10%;
  text-align: center;
}

.tracking_status {
  width: 10%;
  text-align: center;
}

#wish_box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.wish_line {
  height: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.wish_check {
  width: 5%;
  text-align: center;
}

.wish_name {
  width: 45%;
  text-align: center;
}

.wish_artist {
  width: 20%;
  text-align: center;
}

.wish_publish {
  width: 20%;
  text-align: center;
}

.wish_price {
  width: 10%;
  text-align: center;
}

.wish_button {
  margin: 0 0 0 auto;
}

#cart_box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.cart_line {
  height: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.cart_check {
  width: 5%;
  text-align: center;
}

.cart_name {
  width: 45%;
  text-align: center;
}

.cart_artist {
  width: 20%;
  text-align: center;
}

.cart_publish {
  width: 15%;
  text-align: center;
}

.cart_count {
  width: 5%;
  text-align: center;
}

.cart_count input {
  width: 100%;
  text-align: center;
  font-size: medium;
  border: none;
}

.cart_price {
  width: 10%;
  text-align: center;
}

#cart_box_footer {
  display: flex;
  flex-direction: row;
}

#cart_total_price {
  font-weight: bold;
}

.cart_button {
  margin: 0 0 0 auto;
}

#qna_box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.qna_line {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.qna_no {
  width: 5%;
  text-align: center;
}

.qna_title {
  width: 45%;
  text-align: center;
}

.qna_postedat {
  width: 10%;
  text-align: center;
}

.qna_answeredat {
  width: 10%;
  text-align: center;
}

.qna_status {
  width: 10%;
  text-align: center;
}

#qna_button {
  margin: 0 0 0 auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  border: 1px solid black;
}
footer .footer_container {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
