* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.destination_container {
    width: 600px;
    height: 700px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_container {
    width: 500px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;
    border: 1px solid black;
    font-size: 2rem;
}

.default_destination {
    width: 100%;
    height: 20%;
    border: 1px solid black;
}

.destination_list {
    width: 100%;
    height: 65%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.insert_destination {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
    border: 1px solid black;
}

.box_header {
    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid black;
    width: 100%;
}

.list_container {
    width: 100%;
    height: 90%;
    border: 1px solid red;
    overflow: auto;
}

.destination {
    width: 100%;
    border: 1px solid black;
    transition: 1s;
}

.list_container .destination:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.destination span {
    display: inline-block;
    margin: 5px 0;
}

.bold {
    font-weight: bold;
    margin-right: 15px !important;
    margin-left: 15px !important;
}

/* 배송지 등록 */

.destination_form {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 25px;
    font-size: 1.2rem;
    font-weight: bold;
}

.form_span {
    display: inline-block;
    width: 140px;
    margin-top: 50px;
}

.destination_form input {
    width: 250px;
    font-size: 1.3rem;
}

#postcode {
    width: 120px;
}

#search_button {
    width: 120px;
    font-size: 1.1rem;
}

.button_box {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
