.body_container {
    width: 100%;
    height: 87vh;
}
.inner_body {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid black;
}

.body_menu {
    width: 50%;
    height: 5%;
    margin-top: 5%;
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body_menu li {
    list-style: none;
    cursor: pointer;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}
.body_menu .active {
    background: skyblue;
    font-weight: bold;
}
.body_menu li:hover {
    background: pink;
    transition: background 1s;
}

.board {
    width: 94%;
    margin-left: 3%;
    margin-top: 5%;
    border: 1px solid black;
    height: 75%;
    display: block;
}

input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}

.popup_background {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.inner_board {
    width: 100%;
    height: 9%;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.expired{
    color:#bbbbbb;
    text-decoration:line-through
}
.board_posts {
    width: 100%;
    height: 91%;
    border: 1px solid black;
    position:relative;
}
.inner_board{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.board_idx {
    width: 5%;
    text-align: center;
}
.board_title {
    width: 85%;
    text-align: center;
    padding-left: 30px;
    cursor: pointer;
}
.board_contents{
    display:none;
}
.board_title_top {
    text-align: center;
    padding: 0;
    cursor: default;
}

.board_date {
    text-align: center;
    width: 10%;
}
.board_start_date{
    width:20%;
    text-align: center;
}
.board_end_date{
    width:20%;
    text-align: center;
}
.board_modify_popup {
    position: absolute;
    width: 1000px;
    height: 600px;
    background: pink;
    left: calc(50% - 500px);
    top: calc(50% - 300px);
    display: none;
}
#modify_button{
    display:none;
}
#add_button{
    display:none;
}
#board_modify_form {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 0;
}
#delete_button{
    position:absolute;
    left:82%;
    top:5%;
    border:3px solid red;
    width:70px; height:30px;
    background:white;
    cursor:pointer;
}

.board_popup_title_area {
    width: 100%;
    height: 20%;
}
.board_popup_detail_area {
    width: 100%;
    height: 70%;
}
#board_popup_inquiry_answer {
    width: 100%;
    height: 100%;
}
.board_popup_ox {
    margin: 0 auto;
    width: 25%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}

.board_popup_ox button {
    cursor: pointer;
}
.board_popup_text {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.7rem;
}
#board_popup_title {
    width: 100%;
    height: 40%;
    border-radius: 10px;
    font-size: 1.5rem;
    padding-left: 15px;
}

#board_popup_detail {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 1.2rem;
}

.banner_popup_detail_area {
    width: 100%;
    height: 70%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#preview {
    border:1px solid black;
    width:60%;
    height:90%;
}
.input_section{
    width:30%;
    height:100%;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    align-items:center;
}
.input_file{
    width:100%;
    height:40%;
    display:flex;
    justify-content:space-around;
    flex-direction:column;
}
.input_date{
    width:70%;
    height:40%;
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    align-items:center;
}
.product {
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.product_idx {
    text-align: center;
    width: 5%;
}
.product_singer {
    text-align: center;
    width: 10%;
}
.product_title {
    width: 30%;
    text-align: center;
}
.product_genre {
    width: 10%;
    text-align: center;
}
.product_release_date {
    width: 8%;
    text-align: center;
}
.product_publish {
    width: 20%;
    text-align: center;
}

.product_modify_popup {
    position: absolute;
    width: 400px;
    height: 600px;
    background: pink;
    left: calc(50% - 200px);
    top: calc(50% - 300px);
    display: none;
}

#product_modify_form {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 0;
}

.product_popup_title_area {
    width: 100%;
}
.product_popup_detail_area {
    width: 100%;
    height: 70%;
}
.product_popup_ox {
    margin: 0 auto;
    width: 50%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}

.product_popup_ox button {
    cursor: pointer;
}
.product_popup_text {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
#product_modify_form input[type="text"] {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    font-size: 1.5rem;
    padding-left: 15px;
}

#insert_button {
    position: absolute;
    left: 79%;
    top: 20%;
    cursor: pointer;
    background: red;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 45px;
    font-size: 1.2rem;
}

#insert_button .left {
    position: absolute;
    left: 12px;
    top: 24px;
    width: 25px;
    height: 1px;
    border: 2px solid white;
    background: white;
}

#insert_button .right {
    position: absolute;
    left: 12px;
    top: 24px;
    width: 25px;
    height: 1px;
    border: 2px solid white;
    background: white;
    transform: rotateZ(90deg);
}

.pagination{
    position:absolute;
    left:35%;
    bottom:2%;
    width:30%;
    height:7%;
    border:1px solid black;
    display:flex; justify-content:space-between;
}

.page{
    cursor:pointer;
}
.page_active{
    font-weight:bold;
}