#member_container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
}

.login_form_container {
    width: 300px;
    height: 300px;
    background: white;
}

#login_form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.signup_form_container {
    width: 300px;
    height: 600px;
    background: white;
}
#signup_form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.destination_enroll_container {
    background: white;
    width: 600px;
    height: 700px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
}

.inner_container {
    width: 500px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
