* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 8vh;
    border: 1px solid black;
}

header .header_container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

header .header_container #logo {
    width: 150px;
    height: 100%;
    border: 1px solid black;
}

header .header_container #search {
    width: 400px;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header_container #search input {
    width: 300px;
    height: 40px;
}

header .header_container #search button {
    width: 50px;
    height: 40px;
}

header .header_container .menu {
    width: 300px;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main {
    width: 100%;
    height: auto;
    top: 8vh;
}

#main_container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
}

.menu a {
    color: black;
    text-decoration: none;
}

#main_container .menu {
    width: 200px;
    height: 100%;
    border: 1px solid black;
}

#content_container {
    width: 1000px;
    height: 100%;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#my_profile {
    margin: 0 auto;
    width: 40%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.profile_label {
    text-align: right;
    padding-right: 3pt;
}

#my_profile input:is([type="text"]):is([type="password"]) {
    width: 150px;
    height: 18pt;
}

.profile_button {
    margin: 0 0 0 auto;
}

#tracking_box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.tracking_line {
    height: auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.tracking_no {
    width: 15%;
    text-align: center;
}

.tracking_name {
    width: 60%;
    text-align: center;
}

.tracking_count {
    width: 5%;
    text-align: center;
}

.tracking_price {
    width: 10%;
    text-align: center;
}

.tracking_status {
    width: 10%;
    text-align: center;
}

#wish_box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.wish_line {
    height: auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.wish_check {
    width: 5%;
    text-align: center;
}

.wish_name {
    width: 45%;
    text-align: center;
}

.wish_artist {
    width: 20%;
    text-align: center;
}

.wish_publish {
    width: 20%;
    text-align: center;
}

.wish_price {
    width: 10%;
    text-align: center;
}

.wish_button {
    margin: 0 0 0 auto;
}

#cart_box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.cart_line {
    height: auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.cart_check {
    width: 5%;
    text-align: center;
}

.cart_name {
    width: 45%;
    text-align: center;
}

.cart_artist {
    width: 20%;
    text-align: center;
}

.cart_publish {
    width: 15%;
    text-align: center;
}

.cart_count {
    width: 5%;
    text-align: center;
}

.cart_count input {
    width: 100%;
    text-align: center;
    font-size: medium;
    border: none;
}

.cart_price {
    width: 10%;
    text-align: center;
}

.cart_button {
    margin: 0 0 0 auto;
}

#qna_box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.qna_line {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.qna_no {
    width: 5%;
    text-align: center;
}

.qna_title {
    width: 45%;
    text-align: center;
}

.qna_postedat {
    width: 10%;
    text-align: center;
}

.qna_answeredat {
    width: 10%;
    text-align: center;
}

.qna_status {
    width: 10%;
    text-align: center;
}

#qna_button {
    margin: 0 0 0 auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
    border: 1px solid black;
}
footer .footer_container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
